In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from math import sqrt
import seaborn as sns
from pydataset import data
import random
from collections import Counter
import requests

csv_url = 'https://txlottery.org/export/sites/lottery/Games/Cash_Five/Winning_Numbers/cashfive.csv'
df = pd.read_csv(csv_url)

df.head()

   Cash Five  10  13  1995  26   1  22  23  35
0  Cash Five  10  17  1995   9  18  30  20   6
1  Cash Five  10  20  1995   7  27  22  26  16
2  Cash Five  10  24  1995   8  35  13  22   6
3  Cash Five  10  27  1995   8  37  13  25  17
4  Cash Five  10  31  1995  19  37  28   7  14

# Cleaning up the DataFrame

In [2]:
data=[]
data.insert(0,{'Cash Five':'Cash Five','10':'10','13':'13','1995':'1995','26':'26','1':'1','22':'22','23':'23','35':'35'})
df = pd.concat([pd.DataFrame(data),df],ignore_index=True)
df.columns = ['game','M','D','Y','N0','N1','N2','N3','N4']
lotto = df.drop(["game", "M", "D", "Y"], axis=1)
lotto.head()

   N0  N1  N2  N3  N4
0  26   1  22  23  35
1   9  18  30  20   6
2   7  27  22  26  16
3   8  35  13  22   6
4   8  37  13  25  17

# Cash 5 Number Generator

In [3]:
######################################################################
######################################################################
# LAMBDA FUNCTION
# First number
first_column = lotto['N0'].tolist()
print('first column count is', len(first_column))

first_num = random.choice(first_column)
print('       ',first_num)
################# Second number
second_column = lotto['N1'].tolist()
print('second column count is', len(second_column))

fixed_second = list(filter(lambda x: x != first_num, second_column))
print('fixed second column count is', len(fixed_second))

second_num = random.choice(fixed_second)
print('       ',second_num)
################# Third number
third_column = lotto['N2'].tolist()
print('third column count is', len(third_column))

third = list(filter(lambda x: x != first_num, third_column))
fixed_third = list(filter(lambda x: x != second_num, third))
print('fixed third column count is', len(fixed_third))

third_num = random.choice(fixed_third)
print('       ',third_num)
################# Fourth number
fourth_column = lotto['N3'].tolist()
print('fourth column count is', len(fourth_column))

four = list(filter(lambda x: x != first_num, fourth_column))
fourth = list(filter(lambda x: x != second_num, four))
fixed_fourth = list(filter(lambda x: x != third_num, fourth))
print('fixed fourth column count is', len(fixed_fourth))

fourth_num = random.choice(fixed_fourth)
print('       ',fourth_num)
################# Fifth number
fifth_column = lotto['N4'].tolist()
print('fifth column count is', len(fifth_column))

five = list(filter(lambda x: x != first_num, fifth_column))
fives = list(filter(lambda x: x != second_num, five))
fifth = list(filter(lambda x: x != third_num, fives))
fixed_fifth = list(filter(lambda x: x != fourth_num, fifth))
print('fixed fitfth column count is', len(fixed_fifth))

fifth_num = random.choice(fixed_fifth)
print('       ',fifth_num)

print('')
print(first_num,'-', second_num,'-', third_num,'-', fourth_num,'-', fifth_num)

first column count is 7019
        5
second column count is 7019
fixed second column count is 6827
        27
third column count is 7019
fixed third column count is 6664
        32
fourth column count is 7019
fixed fourth column count is 6469
        34
fifth column count is 7019
fixed fitfth column count is 6286
        17

5 - 27 - 32 - 34 - 17