![](https://www.txlottery.org/export/sites/lottery/Images/cash_five_logo.gif)

![](https://www.txlottery.org/export/sites/lottery/Images/cash_five_prizechart_1000_x_650.png)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from math import sqrt
import seaborn as sns
from pydataset import data
import random
from collections import Counter
import requests

csv_url = 'https://txlottery.org/export/sites/lottery/Games/Cash_Five/Winning_Numbers/cashfive.csv'
df = pd.read_csv(csv_url)

df.head()
df.tail()

      Cash Five  10  13  1995  26   1  22  23  35
7058  Cash Five  12  18  2020   8   3  31   5   6
7059  Cash Five  12  19  2020  19  10   8  24  20
7060  Cash Five  12  21  2020  23  22  35   9  28
7061  Cash Five  12  22  2020  12  23  17  28   1
7062  Cash Five  12  23  2020  26   8  35  17  16

In [2]:
data=[]
data.insert(0,{'Cash Five':'Cash Five','10':'10','13':'13','1995':'1995','26':'26','1':'1','22':'22','23':'23','35':'35'})
df = pd.concat([pd.DataFrame(data),df],ignore_index=True)
# renaming the columns
df.columns = ['game','month','day','year','N0','N1','N2','N3','N4']

In [3]:
# converting the date to date time
df['date'] = pd.to_datetime(df[['month','day','year']])
# dropping all number sets prior to 09-24-2018 due to new game format
df = df[(df['date'] > '2018-09-23')]
df.head()

           game month day  year  N0  N1  N2  N3  N4       date
6359  Cash Five     9  24  2018  15  20   8  16  35 2018-09-24
6360  Cash Five     9  25  2018  27  11  24   5   6 2018-09-25
6361  Cash Five     9  26  2018  18   9  14   5   8 2018-09-26
6362  Cash Five     9  27  2018  29   9  22  23  15 2018-09-27
6363  Cash Five     9  28  2018  30  10  32   2  23 2018-09-28

# Cleaning up the DataFrame

In [4]:
# dropping columns not needed to generate numbers
lotto = df.drop(["game", "month", "day", "year", "date"], axis=1)
lotto.head()

      N0  N1  N2  N3  N4
6359  15  20   8  16  35
6360  27  11  24   5   6
6361  18   9  14   5   8
6362  29   9  22  23  15
6363  30  10  32   2  23

# Cash 5 Number Generator

In [5]:
######################################################################
######################################################################
# LAMBDA FUNCTION
# First number
first_column = lotto['N0'].tolist()
print('first column count is', len(first_column))

first_num = random.choice(first_column)
print('       ',first_num)
################# Second number
second_column = lotto['N1'].tolist()
print('second column count is', len(second_column))

fixed_second = list(filter(lambda x: x != first_num, second_column))
print('fixed second column count is', len(fixed_second))

second_num = random.choice(fixed_second)
print('       ',second_num)
################# Third number
third_column = lotto['N2'].tolist()
print('third column count is', len(third_column))

third = list(filter(lambda x: x != first_num, third_column))
fixed_third = list(filter(lambda x: x != second_num, third))
print('fixed third column count is', len(fixed_third))

third_num = random.choice(fixed_third)
print('       ',third_num)
################# Fourth number
fourth_column = lotto['N3'].tolist()
print('fourth column count is', len(fourth_column))

four = list(filter(lambda x: x != first_num, fourth_column))
fourth = list(filter(lambda x: x != second_num, four))
fixed_fourth = list(filter(lambda x: x != third_num, fourth))
print('fixed fourth column count is', len(fixed_fourth))

fourth_num = random.choice(fixed_fourth)
print('       ',fourth_num)
################# Fifth number
fifth_column = lotto['N4'].tolist()
print('fifth column count is', len(fifth_column))

five = list(filter(lambda x: x != first_num, fifth_column))
fives = list(filter(lambda x: x != second_num, five))
fifth = list(filter(lambda x: x != third_num, fives))
fixed_fifth = list(filter(lambda x: x != fourth_num, fifth))
print('fixed fitfth column count is', len(fixed_fifth))

fifth_num = random.choice(fixed_fifth)
print('       ',fifth_num)

print('')
print(first_num,'-', second_num,'-', third_num,'-', fourth_num,'-', fifth_num)

first column count is 702
        12
second column count is 702
fixed second column count is 688
        18
third column count is 702
fixed third column count is 657
        29
fourth column count is 702
fixed fourth column count is 638
        14
fifth column count is 702
fixed fitfth column count is 628
        3

12 - 18 - 29 - 14 - 3

# All-in-One Generator Function

In [1]:
import numpy as np
import pandas as pd
import random


def cashfive_numbers():
    
    csv_url = 'https://txlottery.org/export/sites/lottery/Games/Cash_Five/Winning_Numbers/cashfive.csv'
    df = pd.read_csv(csv_url)
    
    data=[]
    data.insert(0,{'Cash Five':'Cash Five','10':'10','13':'13','1995':'1995','26':'26','1':'1','22':'22','23':'23','35':'35'})
    df = pd.concat([pd.DataFrame(data),df],ignore_index=True)
    # renaming the columns
    df.columns = ['game','month','day','year','N0','N1','N2','N3','N4']
    
    # converting the date to date time
    df['date'] = pd.to_datetime(df[['month','day','year']])
    # dropping all number sets prior to 09-24-2018 due to new game format
    df = df[(df['date'] > '2018-09-23')]
    
    # dropping columns not needed to generate numbers
    lotto = df.drop(["game", "month", "day", "year", "date"], axis=1)
    
    first_column = lotto['N0'].tolist()
    print('first column count is', len(first_column))

    first_num = random.choice(first_column)
    print('       ',first_num)
    ################# Second number
    second_column = lotto['N1'].tolist()
    print('second column count is', len(second_column))

    fixed_second = list(filter(lambda x: x != first_num, second_column))
    print('fixed second column count is', len(fixed_second))

    second_num = random.choice(fixed_second)
    print('       ',second_num)
    ################# Third number
    third_column = lotto['N2'].tolist()
    print('third column count is', len(third_column))

    third = list(filter(lambda x: x != first_num, third_column))
    fixed_third = list(filter(lambda x: x != second_num, third))
    print('fixed third column count is', len(fixed_third))

    third_num = random.choice(fixed_third)
    print('       ',third_num)
    ################# Fourth number
    fourth_column = lotto['N3'].tolist()
    print('fourth column count is', len(fourth_column))

    four = list(filter(lambda x: x != first_num, fourth_column))
    fourth = list(filter(lambda x: x != second_num, four))
    fixed_fourth = list(filter(lambda x: x != third_num, fourth))
    print('fixed fourth column count is', len(fixed_fourth))

    fourth_num = random.choice(fixed_fourth)
    print('       ',fourth_num)
    ################# Fifth number
    fifth_column = lotto['N4'].tolist()
    print('fifth column count is', len(fifth_column))

    five = list(filter(lambda x: x != first_num, fifth_column))
    fives = list(filter(lambda x: x != second_num, five))
    fifth = list(filter(lambda x: x != third_num, fives))
    fixed_fifth = list(filter(lambda x: x != fourth_num, fifth))
    print('fixed fitfth column count is', len(fixed_fifth))

    fifth_num = random.choice(fixed_fifth)
    print('       ',fifth_num)

    print('')
    print(first_num,'-', second_num,'-', third_num,'-', fourth_num,'-', fifth_num)

# Lotto Loop

- A loop to see how many times it takes to select the winning numbers

In [5]:
lotto

      N0  N1  N2  N3  N4
6359  15  20   8  16  35
6360  27  11  24   5   6
6361  18   9  14   5   8
6362  29   9  22  23  15
6363  30  10  32   2  23
...   ..  ..  ..  ..  ..
7059   8   3  31   5   6
7060  19  10   8  24  20
7061  23  22  35   9  28
7062  12  23  17  28   1
7063  26   8  35  17  16

[705 rows x 5 columns]

In [6]:
# Getting rid of the last line as those are the numbers we are trying to match
lotto = lotto[:-1]

In [7]:
lotto

      N0  N1  N2  N3  N4
6359  15  20   8  16  35
6360  27  11  24   5   6
6361  18   9  14   5   8
6362  29   9  22  23  15
6363  30  10  32   2  23
...   ..  ..  ..  ..  ..
7058  32  28  31  16  17
7059   8   3  31   5   6
7060  19  10   8  24  20
7061  23  22  35   9  28
7062  12  23  17  28   1

[704 rows x 5 columns]

In [8]:
def numbers():
    
    first_column = lotto['N0'].tolist()
    #print('first column count is', len(first_column))

    first_num = random.choice(first_column)
    #print('       ',first_num)
    ################# Second number
    second_column = lotto['N1'].tolist()
    #print('second column count is', len(second_column))

    fixed_second = list(filter(lambda x: x != first_num, second_column))
    #print('fixed second column count is', len(fixed_second))

    second_num = random.choice(fixed_second)
    #print('       ',second_num)
    ################# Third number
    third_column = lotto['N2'].tolist()
    #print('third column count is', len(third_column))

    third = list(filter(lambda x: x != first_num, third_column))
    fixed_third = list(filter(lambda x: x != second_num, third))
    #print('fixed third column count is', len(fixed_third))

    third_num = random.choice(fixed_third)
    #print('       ',third_num)
    ################# Fourth number
    fourth_column = lotto['N3'].tolist()
    #print('fourth column count is', len(fourth_column))

    four = list(filter(lambda x: x != first_num, fourth_column))
    fourth = list(filter(lambda x: x != second_num, four))
    fixed_fourth = list(filter(lambda x: x != third_num, fourth))
    #print('fixed fourth column count is', len(fixed_fourth))

    fourth_num = random.choice(fixed_fourth)
    #print('       ',fourth_num)
    ################# Fifth number
    fifth_column = lotto['N4'].tolist()
    #print('fifth column count is', len(fifth_column))

    five = list(filter(lambda x: x != first_num, fifth_column))
    fives = list(filter(lambda x: x != second_num, five))
    fifth = list(filter(lambda x: x != third_num, fives))
    fixed_fifth = list(filter(lambda x: x != fourth_num, fifth))
    #print('fixed fitfth column count is', len(fixed_fifth))

    fifth_num = random.choice(fixed_fifth)
    #print('       ',fifth_num)

    #print('')
    #print(first_num,'-', second_num,'-', third_num,'-', fourth_num,'-', fifth_num)
    return first_num, second_num, third_num, fourth_num, fifth_num

In [22]:
numbers()

(17, 2, 10, 9, 5)

In [27]:
# winning numbers
winning_numbers = 26,8,35,17,16


#first_ticket = numbers
ticket_count = 1

# Loop to keep searching for the winnings numbers from the number function
while numbers != winning_numbers:
  ticket_count += 1
  if numbers() % 100000 == 0:
    print(ticket_count, ' tickets bought and no dice...')
else:
  print('It Took', ticket_count, 'tickets to hit it big!')

TypeError: unsupported operand type(s) for %: 'tuple' and 'int'

In [9]:
numbers() = int(numbers())

SyntaxError: can't assign to function call (<ipython-input-9-357ca09e0443>, line 1)

In [29]:
type(winning_numbers)

tuple

def get_ticket():
   #Creates a list made up of two elements: a set containing five random non-repeating integers between 1-70
   #and a single integer between 1-25
  ticket = []
  ticket.append(set(random.sample(range(1, 71), k=5)))
  ticket.append(random.randint(1, 25))
  return ticket

In [9]:
get_ticket()

[{1, 17, 40, 49, 63}, 6]