# Cash Five Lotto
- 5 of 5 odds **1:324,632**. Prize Amount 25,000 USD
 -  Prize to Odds .077
- 4 of 5 odds **1:2,164**.   Prize Amount 350 USD
 - P/O .16
- 3 of 5 odds **1:75**.      Prize Amount 15 USD
 - P/O .20
- 2 of 5 odds **1:8**.       Prize Amount 'Free cash five quick pick'

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from math import sqrt
import seaborn as sns
from pydataset import data
import random
from collections import Counter
import requests

csv_url = 'https://txlottery.org/export/sites/lottery/Games/Cash_Five/Winning_Numbers/cashfive.csv'
df = pd.read_csv(csv_url)

df.head()
df.tail()

In [2]:
data=[]
data.insert(0,{'Cash Five':'Cash Five','10':'10','13':'13','1995':'1995','26':'26','1':'1','22':'22','23':'23','35':'35'})
df = pd.concat([pd.DataFrame(data),df],ignore_index=True)
# renaming the columns
df.columns = ['game','month','day','year','N0','N1','N2','N3','N4']

In [3]:
# converting the date to date time
df['date'] = pd.to_datetime(df[['month','day','year']])
# dropping all number sets prior to 09-24-2018 due to new game format
df = df[(df['date'] > '2018-09-23')]
df.head()

           game month day  year  N0  N1  N2  N3  N4       date
6359  Cash Five     9  24  2018  15  20   8  16  35 2018-09-24
6360  Cash Five     9  25  2018  27  11  24   5   6 2018-09-25
6361  Cash Five     9  26  2018  18   9  14   5   8 2018-09-26
6362  Cash Five     9  27  2018  29   9  22  23  15 2018-09-27
6363  Cash Five     9  28  2018  30  10  32   2  23 2018-09-28

# Cleaning up the DataFrame

In [6]:
# dropping columns not needed to generate numbers
lotto = df.drop(["game", "month", "day", "year", "date"], axis=1)
lotto.head()

      N0  N1  N2  N3  N4
6359  15  20   8  16  35
6360  27  11  24   5   6
6361  18   9  14   5   8
6362  29   9  22  23  15
6363  30  10  32   2  23

# Cash 5 Number Generator

In [11]:
######################################################################
######################################################################
# LAMBDA FUNCTION
# First number
first_column = lotto['N0'].tolist()
print('first column count is', len(first_column))

first_num = random.choice(first_column)
print('       ',first_num)
################# Second number
second_column = lotto['N1'].tolist()
print('second column count is', len(second_column))

fixed_second = list(filter(lambda x: x != first_num, second_column))
print('fixed second column count is', len(fixed_second))

second_num = random.choice(fixed_second)
print('       ',second_num)
################# Third number
third_column = lotto['N2'].tolist()
print('third column count is', len(third_column))

third = list(filter(lambda x: x != first_num, third_column))
fixed_third = list(filter(lambda x: x != second_num, third))
print('fixed third column count is', len(fixed_third))

third_num = random.choice(fixed_third)
print('       ',third_num)
################# Fourth number
fourth_column = lotto['N3'].tolist()
print('fourth column count is', len(fourth_column))

four = list(filter(lambda x: x != first_num, fourth_column))
fourth = list(filter(lambda x: x != second_num, four))
fixed_fourth = list(filter(lambda x: x != third_num, fourth))
print('fixed fourth column count is', len(fixed_fourth))

fourth_num = random.choice(fixed_fourth)
print('       ',fourth_num)
################# Fifth number
fifth_column = lotto['N4'].tolist()
print('fifth column count is', len(fifth_column))

five = list(filter(lambda x: x != first_num, fifth_column))
fives = list(filter(lambda x: x != second_num, five))
fifth = list(filter(lambda x: x != third_num, fives))
fixed_fifth = list(filter(lambda x: x != fourth_num, fifth))
print('fixed fitfth column count is', len(fixed_fifth))

fifth_num = random.choice(fixed_fifth)
print('       ',fifth_num)

print('')
print(first_num,'-', second_num,'-', third_num,'-', fourth_num,'-', fifth_num)

first column count is 671
        10
second column count is 671
fixed second column count is 642
        35
third column count is 671
fixed third column count is 641
        24
fourth column count is 671
fixed fourth column count is 609
        13
fifth column count is 671
fixed fitfth column count is 591
        29

10 - 35 - 24 - 13 - 29