In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from math import sqrt
import seaborn as sns
from pydataset import data
import random
from collections import Counter

csv_url = 'https://txlottery.org/export/sites/lottery/Games/Lotto_Texas/Winning_Numbers/lottotexas.csv'
df = pd.read_csv(csv_url)

df.head()

   Lotto Texas  11  14  1992  13  16  22  29  32  36
0  Lotto Texas  11  18  1992  27  31  39  44  45  47
1  Lotto Texas  11  21  1992  11  21  24  28  31  46
2  Lotto Texas  11  25  1992  14  21  36  39  40  42
3  Lotto Texas  11  28  1992   9  17  21  24  28  50
4  Lotto Texas  12   2  1992   5  17  19  25  26  38

# Cleaning the DataFrame

In [2]:
data=[]
data.insert(0,{'Lotto Texas':'Lotto Texas','11':'11','14':'14','1992':'1992','13':'13','16':'16','22':'22','29':'29','32':'32','36':'36'})
df = pd.concat([pd.DataFrame(data),df],ignore_index=True)
df.columns = ['game','M','D','Y','N0','N1','N2','N3','N4','N5']
lotto = df.drop(["game", "M", "D", "Y"], axis=1)
lotto.head()

   N0  N1  N2  N3  N4  N5
0  13  16  22  29  32  36
1  27  31  39  44  45  47
2  11  21  24  28  31  46
3  14  21  36  39  40  42
4   9  17  21  24  28  50

# Texas Lotto Number Generator

In [4]:
######################################################################
######################################################################
# LAMBDA FUNCTION
# First number
first_column = lotto['N0'].tolist()
print('first column count is', len(first_column))

first_num = random.choice(first_column)
print('       ',first_num)
################# Second number
second_column = lotto['N1'].tolist()
print('second column count is', len(second_column))

fixed_second = list(filter(lambda x: x != first_num, second_column))
print('fixed second column count is', len(fixed_second))

second_num = random.choice(fixed_second)
print('       ',second_num)
################# Third number
third_column = lotto['N2'].tolist()
print('third column count is', len(third_column))

third = list(filter(lambda x: x != first_num, third_column))
fixed_third = list(filter(lambda x: x != second_num, third))
print('fixed third column count is', len(fixed_third))

third_num = random.choice(fixed_third)
print('       ',third_num)
################# Fourth number
fourth_column = lotto['N3'].tolist()
print('fourth column count is', len(fourth_column))

four = list(filter(lambda x: x != first_num, fourth_column))
fourth = list(filter(lambda x: x != second_num, four))
fixed_fourth = list(filter(lambda x: x != third_num, fourth))
print('fixed fourth column count is', len(fixed_fourth))

fourth_num = random.choice(fixed_fourth)
print('       ',fourth_num)
################# Fifth number
fifth_column = lotto['N4'].tolist()
print('fifth column count is', len(fifth_column))

five = list(filter(lambda x: x != first_num, fifth_column))
fives = list(filter(lambda x: x != second_num, five))
fifth = list(filter(lambda x: x != third_num, fives))
fixed_fifth = list(filter(lambda x: x != fourth_num, fifth))
print('fixed fitfth column count is', len(fixed_fifth))

fifth_num = random.choice(fixed_fifth)
print('       ',fifth_num)
################ 6th number
sixth_column = lotto['N5'].tolist()
print('sixth column count is', len(sixth_column))

six = list(filter(lambda x: x != first_num, sixth_column))
sixes = list(filter(lambda x: x != second_num, six))
sixer = list(filter(lambda x: x != third_num, sixes))
sixth = list(filter(lambda x: x != fourth_num, sixer))
fixed_sixth = list(filter(lambda x: x != fifth_num, sixth))
print('fixed sixth column count is', len(fixed_sixth))

sixth_num = random.choice(fixed_sixth)
print('       ',sixth_num)
print('')
print(first_num,'-', second_num,'-', third_num,'-', fourth_num,'-', fifth_num,'-', sixth_num)

first column count is 2919
        39
second column count is 2919
fixed second column count is 2874
        32
third column count is 2919
fixed third column count is 2802
        4
fourth column count is 2919
fixed fourth column count is 2744
        17
fifth column count is 2919
fixed fitfth column count is 2679
        3
sixth column count is 2919
fixed sixth column count is 2672
        28

39 - 32 - 4 - 17 - 3 - 28