![](https://www.megamillions.com/GLC-Megamillions/media/images/logos/logo_MM_233x110.png)

# Mega Millions
### Drawings are held every Tuesday and Friday evening at 10:12 p.m. CT.

**Mega Millions Odds**

![](https://www.txlottery.org/export/sites/lottery/Images/MegaMillions_Megaplier_Prizechart_enlarged.png)

In [ ]:
import numpy as np
import pandas as pd
import random




def texaslotto_numbers():
    
    '''
    This function brings in a fresh csv to be cleaned and prepped for
    the number generator. The number generator selects numbers based on columns
    and columns are based on draw order. The frequency of numbers drawn is included
    in the number generator which is what gives this algorithm an advantage over
    traditional quick picks.
    '''
    
    # brings in a fresh csv
    csv_url = 'https://txlottery.org/export/sites/lottery/Games/Mega_Millions/Winning_Numbers/megamillions.csv'
    df = pd.read_csv(csv_url)
    
    # cleans and preps the dataframe
    data=[]
    data.insert(0,{'Lotto Texas':'Lotto Texas','11':'11','14':'14','1992':'1992','13':'13','16':'16','22':'22','29':'29','32':'32','36':'36'})
    df = pd.concat([pd.DataFrame(data),df],ignore_index=True)
    df.columns = ['game','M','D','Y','N0','N1','N2','N3','N4','N5']
    lotto = df.drop(["game", "M", "D", "Y"], axis=1)

In [1]:
import numpy as np
import pandas as pd
import random

csv_url = 'https://txlottery.org/export/sites/lottery/Games/Mega_Millions/Winning_Numbers/megamillions.csv'
df = pd.read_csv(csv_url)

In [2]:
df

      Mega Millions  12   5  2003  12.1  44  15  18   1  42  4
0     Mega Millions  12   9  2003    14  15  48   4  24  41  4
1     Mega Millions  12  12  2003    16  32  46   9  45  26  4
2     Mega Millions  12  16  2003    47  16  31  24  46  47  3
3     Mega Millions  12  19  2003     5  10  39  17  35  38  3
4     Mega Millions  12  23  2003     2  49  13  21  22  52  4
...             ...  ..  ..   ...   ...  ..  ..  ..  ..  .. ..
1779  Mega Millions  12  25  2020    69  36  70  23  17  19  2
1780  Mega Millions  12  29  2020    62  31  35  48   1  19  3
1781  Mega Millions   1   1  2021    24  68  69  53   8   7  5
1782  Mega Millions   1   5  2021    43  20  51  57  55   4  2
1783  Mega Millions   1   8  2021    18   3  58  16   6  11  2

[1784 rows x 11 columns]

In [3]:
data=[]
data.insert(0,{'Mega Millions':'Mega Millions','12':'12','5':'5','2003':'2003','12.1':'12.1','44':'44','15':'15','18':'18','1':'1','42':'42','4':'4'})
df = pd.concat([pd.DataFrame(data),df],ignore_index=True)
df.columns = ['game','M','D','Y','N0','N1','N2','N3','N4','BB','MP']
#df = df[1:]
df

               game   M   D     Y    N0  N1  N2  N3  N4  BB MP
0     Mega Millions  12   5  2003  12.1  44  15  18   1  42  4
1     Mega Millions  12   9  2003    14  15  48   4  24  41  4
2     Mega Millions  12  12  2003    16  32  46   9  45  26  4
3     Mega Millions  12  16  2003    47  16  31  24  46  47  3
4     Mega Millions  12  19  2003     5  10  39  17  35  38  3
...             ...  ..  ..   ...   ...  ..  ..  ..  ..  .. ..
1780  Mega Millions  12  25  2020    69  36  70  23  17  19  2
1781  Mega Millions  12  29  2020    62  31  35  48   1  19  3
1782  Mega Millions   1   1  2021    24  68  69  53   8   7  5
1783  Mega Millions   1   5  2021    43  20  51  57  55   4  2
1784  Mega Millions   1   8  2021    18   3  58  16   6  11  2

[1785 rows x 11 columns]