![](https://www.megamillions.com/GLC-Megamillions/media/images/logos/logo_MM_233x110.png)

# Mega Millions
### Drawings are held every Tuesday and Friday evening at 10:12 p.m. CT.

**Mega Millions Odds**

![](https://www.txlottery.org/export/sites/lottery/Images/MegaMillions_Megaplier_Prizechart_enlarged.png)

In [ ]:
import numpy as np
import pandas as pd
import random




def texaslotto_numbers():
    
    '''
    This function brings in a fresh csv to be cleaned and prepped for
    the number generator. The number generator selects numbers based on columns
    and columns are based on draw order. The frequency of numbers drawn is included
    in the number generator which is what gives this algorithm an advantage over
    traditional quick picks.
    '''
    
    # brings in a fresh csv
    csv_url = 'https://txlottery.org/export/sites/lottery/Games/Mega_Millions/Winning_Numbers/megamillions.csv'
    df = pd.read_csv(csv_url)
    
    # cleans and preps the dataframe
    data=[]
    data.insert(0,{'Lotto Texas':'Lotto Texas','11':'11','14':'14','1992':'1992','13':'13','16':'16','22':'22','29':'29','32':'32','36':'36'})
    df = pd.concat([pd.DataFrame(data),df],ignore_index=True)
    df.columns = ['game','M','D','Y','N0','N1','N2','N3','N4','N5']
    lotto = df.drop(["game", "M", "D", "Y"], axis=1)

In [1]:
import numpy as np
import pandas as pd
import random

csv_url = 'https://txlottery.org/export/sites/lottery/Games/Mega_Millions/Winning_Numbers/megamillions.csv'
df = pd.read_csv(csv_url)

In [2]:
df

      Mega Millions  12   5  2003  12.1  44  15  18   1  42  4
0     Mega Millions  12   9  2003    14  15  48   4  24  41  4
1     Mega Millions  12  12  2003    16  32  46   9  45  26  4
2     Mega Millions  12  16  2003    47  16  31  24  46  47  3
3     Mega Millions  12  19  2003     5  10  39  17  35  38  3
4     Mega Millions  12  23  2003     2  49  13  21  22  52  4
...             ...  ..  ..   ...   ...  ..  ..  ..  ..  .. ..
1780  Mega Millions  12  29  2020    62  31  35  48   1  19  3
1781  Mega Millions   1   1  2021    24  68  69  53   8   7  5
1782  Mega Millions   1   5  2021    43  20  51  57  55   4  2
1783  Mega Millions   1   8  2021    18   3  58  16   6  11  2
1784  Mega Millions   1  12  2021    28  12  14  26  33   9  2

[1785 rows x 11 columns]

In [3]:
data=[]
data.insert(0,{'Mega Millions':'Mega Millions','12':'12','5':'5','2003':'2003','12.1':'12.1','44':'44','15':'15','18':'18','1':'1','42':'42','4':'4'})
df = pd.concat([pd.DataFrame(data),df],ignore_index=True)
df.columns = ['game','month','day','year','N0','N1','N2','N3','N4','BB','MP']
#df = df[1:]
df

               game month day  year    N0  N1  N2  N3  N4  BB MP
0     Mega Millions    12   5  2003  12.1  44  15  18   1  42  4
1     Mega Millions    12   9  2003    14  15  48   4  24  41  4
2     Mega Millions    12  12  2003    16  32  46   9  45  26  4
3     Mega Millions    12  16  2003    47  16  31  24  46  47  3
4     Mega Millions    12  19  2003     5  10  39  17  35  38  3
...             ...   ...  ..   ...   ...  ..  ..  ..  ..  .. ..
1781  Mega Millions    12  29  2020    62  31  35  48   1  19  3
1782  Mega Millions     1   1  2021    24  68  69  53   8   7  5
1783  Mega Millions     1   5  2021    43  20  51  57  55   4  2
1784  Mega Millions     1   8  2021    18   3  58  16   6  11  2
1785  Mega Millions     1  12  2021    28  12  14  26  33   9  2

[1786 rows x 11 columns]

In [4]:
# converting M,D,Y to datetime to adjust for game changes
df['date'] = pd.to_datetime(df[['month','day','year']])

# getting rid of all draws before 10-28-2017 due to game change
df = df[(df['date'] >= '2017-10-28')]

df

               game month day  year  N0  N1  N2  N3  N4  BB MP       date
1451  Mega Millions    10  31  2017  31  53   6  28  52  12  4 2017-10-31
1452  Mega Millions    11   3  2017  69  10  61  42  22   3  2 2017-11-03
1453  Mega Millions    11   7  2017   1  68  69  60  54  11  4 2017-11-07
1454  Mega Millions    11  10  2017   6  38  42  23  58  24  2 2017-11-10
1455  Mega Millions    11  14  2017  14   1  21  22  28  19  3 2017-11-14
...             ...   ...  ..   ...  ..  ..  ..  ..  ..  .. ..        ...
1781  Mega Millions    12  29  2020  62  31  35  48   1  19  3 2020-12-29
1782  Mega Millions     1   1  2021  24  68  69  53   8   7  5 2021-01-01
1783  Mega Millions     1   5  2021  43  20  51  57  55   4  2 2021-01-05
1784  Mega Millions     1   8  2021  18   3  58  16   6  11  2 2021-01-08
1785  Mega Millions     1  12  2021  28  12  14  26  33   9  2 2021-01-12

[335 rows x 12 columns]

In [5]:
# dropping unnecessary columns 'just the meat and potatoes'
mm = df.drop(['game','month','day','year','date'],axis=1)
mm

      N0  N1  N2  N3  N4  BB MP
1451  31  53   6  28  52  12  4
1452  69  10  61  42  22   3  2
1453   1  68  69  60  54  11  4
1454   6  38  42  23  58  24  2
1455  14   1  21  22  28  19  3
...   ..  ..  ..  ..  ..  .. ..
1781  62  31  35  48   1  19  3
1782  24  68  69  53   8   7  5
1783  43  20  51  57  55   4  2
1784  18   3  58  16   6  11  2
1785  28  12  14  26  33   9  2

[335 rows x 7 columns]

### Data Analysis

In [6]:
mm.N0.value_counts(), mm.N1.value_counts(), mm.N2.value_counts(), mm.N3.value_counts(), mm.N4.value_counts()

(44    10
 28    10
 24     9
 15     9
 33     8
       ..
 22     2
 66     2
 3      2
 21     1
 45     1
 Name: N0, Length: 68, dtype: int64,
 38    12
 32    10
 31     9
 3      9
 56     9
       ..
 21     2
 54     2
 61     2
 35     2
 26     1
 Name: N1, Length: 70, dtype: int64,
 48    10
 43    10
 58    10
 4      9
 23     9
       ..
 27     2
 69     2
 44     2
 55     1
 65     1
 Name: N2, Length: 68, dtype: int64,
 62    10
 1      9
 11     9
 20     8
 17     8
       ..
 32     2
 36     2
 67     2
 41     1
 22     1
 Name: N3, Length: 70, dtype: int64,
 64    11
 17    10
 62    10
 59    10
 31     9
       ..
 2      2
 56     1
 21     1
 6      1
 5      1
 Name: N4, Length: 67, dtype: int64)

In [7]:
first_column = mm['N0'].tolist()
print('first column count is', len(first_column))

first_num = random.choice(first_column)
print('       ',first_num)

################# Second number

second_column = mm['N1'].tolist()
print('second column count is', len(second_column))

fixed_second = list(filter(lambda x: x != first_num, second_column))
print('fixed second column count is', len(fixed_second))

second_num = random.choice(fixed_second)
print('       ',second_num)

################# Third number

third_column = mm['N2'].tolist()
print('third column count is', len(third_column))

third = list(filter(lambda x: x != first_num, third_column))
fixed_third = list(filter(lambda x: x != second_num, third))
print('fixed third column count is', len(fixed_third))

third_num = random.choice(fixed_third)
print('       ',third_num)

################# Fourth number

fourth_column = mm['N3'].tolist()
print('fourth column count is', len(fourth_column))

four = list(filter(lambda x: x != first_num, fourth_column))
fourth = list(filter(lambda x: x != second_num, four))
fixed_fourth = list(filter(lambda x: x != third_num, fourth))
print('fixed fourth column count is', len(fixed_fourth))

fourth_num = random.choice(fixed_fourth)
print('       ',fourth_num)

################# Fifth number

fifth_column = mm['N4'].tolist()
print('fifth column count is', len(fifth_column))

five = list(filter(lambda x: x != first_num, fifth_column))
fives = list(filter(lambda x: x != second_num, five))
fifth = list(filter(lambda x: x != third_num, fives))
fixed_fifth = list(filter(lambda x: x != fourth_num, fifth))
print('fixed fifth column count is', len(fixed_fifth))

fifth_num = random.choice(fixed_fifth)
print('       ',fifth_num)

################ Bonus Ball

bonus_ball = mm['BB'].tolist()
print('bonus ball count is', len(bonus_ball))

bonus = random.choice(bonus_ball)
print('       ',bonus)

print('')
print(first_num,'-', second_num,'-', third_num,'-', fourth_num,'-', fifth_num,'-', bonus)

first column count is 335
        32
second column count is 335
fixed second column count is 325
        35
third column count is 335
fixed third column count is 328
        54
fourth column count is 335
fixed fourth column count is 323
        46
fifth column count is 335
fixed fifth column count is 317
        65
bonus ball count is 335
        7

32 - 35 - 54 - 46 - 65 - 7

In [9]:
len(third)

332

In [10]:
len(fixed_third)

328