# Texas 2 Step Lotto
- 4 + 1 odds **1:1832600**. Prize Amount 200,000 USD
 -  Prize to Odds .11
- 4 + 0 odds **1:53900**.   Prize Amount 1501 USD
 - P/O .03
- 3 + 1 odds **1:14779**.   Prize Amount 50 USD
 - P/O .003
- 3 + 0 odds **1:435**.     Prize Amount 20 USD
 - P/O .05
- 2 + 1 odds **1:657**.     Prize Amount 20 USD
 - P/O .03
- 1 + 1 odds **1:102**.     Prize Amount 7 USD
 - P/O .07
- 0 + 1 odds **1:58**.      Prize Amount 5 USD
 - P/O .09

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from math import sqrt
import seaborn as sns
from pydataset import data
import random
from collections import Counter

csv_url = 'https://txlottery.org/export/sites/lottery/Games/Texas_Two_Step/Winning_Numbers/texastwostep.csv'
df = pd.read_csv(csv_url)

df.head()

   Texas Two Step  5  18  2001   9  10  22  13   1
0  Texas Two Step  5  22  2001  30  34  23   4  13
1  Texas Two Step  5  25  2001   3  29  18  33  17
2  Texas Two Step  5  29  2001  23  35  28  17  20
3  Texas Two Step  6   1  2001  16  11  28   4  31
4  Texas Two Step  6   5  2001  32   4  28  34  20

# Cleaning the DataFrame

In [2]:
data=[]
data.insert(0,{'Texas Two Step':'Texas Two Step','5':'5','18':'18','2001':'2001','9':'9','10':'10','22':'22','13':'13','1':'1'})
df = pd.concat([pd.DataFrame(data),df],ignore_index=True)
df.columns = ['game','M','D','Y','N0','N1','N2','N3','N4']
lotto = df.drop(["game", "M", "D", "Y"], axis=1)
lotto.head()

   N0  N1  N2  N3  N4
0   9  10  22  13   1
1  30  34  23   4  13
2   3  29  18  33  17
3  23  35  28  17  20
4  16  11  28   4  31

# Texas 2 Step Number Generator

In [6]:
######################################################################
######################################################################
# LAMBDA FUNCTION
# First number

first_column = lotto['N0'].tolist()
print('first column count is', len(first_column))

first_num = random.choice(first_column)
print('       ',first_num)

################# Second number

second_column = lotto['N1'].tolist()
print('second column count is', len(second_column))

fixed_second = list(filter(lambda x: x != first_num, second_column))
print('fixed second column count is', len(fixed_second))

second_num = random.choice(fixed_second)
print('       ',second_num)

################# Third number

third_column = lotto['N2'].tolist()
print('third column count is', len(third_column))

third = list(filter(lambda x: x != first_num, third_column))
fixed_third = list(filter(lambda x: x != second_num, third))
print('fixed third column count is', len(fixed_third))

third_num = random.choice(fixed_third)
print('       ',third_num)

################# Fourth number

fourth_column = lotto['N3'].tolist()
print('fourth column count is', len(fourth_column))

four = list(filter(lambda x: x != first_num, fourth_column))
fourth = list(filter(lambda x: x != second_num, four))
fixed_fourth = list(filter(lambda x: x != third_num, fourth))
print('fixed fourth column count is', len(fixed_fourth))

fourth_num = random.choice(fixed_fourth)
print('       ',fourth_num)

################# Bonus number

fifth_column = lotto['N4'].tolist()
print('fifth column count is', len(fifth_column))
print('Bonus ball column count is', len(fifth_column))
fifth_num = random.choice(fifth_column)
print('       ',fifth_num)


print(first_num,'-', second_num,'-', third_num,'-', fourth_num,'-', fifth_num)

first column count is 2035
        29
second column count is 2035
fixed second column count is 1976
        3
third column count is 2035
fixed third column count is 1921
        16
fourth column count is 2035
fixed fourth column count is 1855
        2
fifth column count is 2035
Bonus ball column count is 2035
        6
29 - 3 - 16 - 2 - 6